<div class="chat">
  <div class="modal" id="modal">
    <div class="modal-name">
      <h1>Enter Your Name</h1>
      <div class="modal-input-container">
        <input type="text" id="userName" placeholder="Enter your name">
      </div>
      <button id="btnName">okay</button>
    </div>
    <div class="modal-name-overlay"></div>
  </div>
  <h1 class="chat-title">Chat App</h1>
  <ul class="chat-list" id="chatList"></ul>
  <form class="input-container" autocomplete="off" id="formChat">
    <input type="text" id="messageText" class="input_message" placeholder="Enter Your Text Message !">
    <input type="submit" value="send" id="btnSend" class="input_send">
  </form>
  <script src="/js/socket.io.js"></script>
  <script src="/js/main.js"></script>
</div>