html{
  box-sizing: border-box;
}
*{
  box-sizing: inherit;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input,button{
  border: none;
  outline: none;
  border-radius: 0;
}
body{
  padding: 0;
  margin: 0;
}