.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.modal-name{
  height: fit-content;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  z-index: 2;
  background: linear-gradient(to right,#b92b27, #1565C0);
}
.modal-name-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8)
}
.modal-input-container{
  border: 1px solid red;
}
.modal-input-container > input[type=text]{
  font-size: 26px;
}
#btnName{
  width: 50px;
  padding: 5px 10px;
  margin-top: 5px;
  background-color: red;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px 10px;
}
.chat-title{

}
.chat-list{

  width: 100%;
}
.chat-list-item{

}
.chat-list-item.my-chat{
  text-align: right;
}

.input-container{
  width: 100%;
  display: flex;
  margin-top: auto;
}
.input_message{
  font-size: 18px;
  flex-grow: 8;
  font-weight: 700;
  padding: 5px 10px;
  border: 1px solid rgba(5, 18, 196, 0.986) ;
  border-radius: 5px 0px 0px 5px;
}
.input_message:focus{
  box-shadow: 0 0 10px rgba(5, 18, 196, 0.986)
}
.input_send{
  flex-grow: 2;
  background-color: green;
  border-radius: 0px 5px 5px 0;
} 
.input_send:hover{
  cursor: pointer;
  opacity: 0.8;
}
@media screen and (max-width:576px) {
  .chat{
    width: 100%;
  }
}